.troioi{
    display: flex;    
}

@media only screen and (max-width: 480px) {
    img {
      max-width: 40%;
    }
  }
  

  @media only screen and (min-width: 481px) {
    img {
      max-width: 45%;
    }
  }